workflow.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Content Brief",
        "formDescription": "Enter a topic and we'll generate a first draft.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "requiredField": true
            },
            {
              "fieldLabel": "Target audience"
            },
            {
              "fieldLabel": "Tone",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Professional"
                  },
                  {
                    "option": "Casual"
                  },
                  {
                    "option": "Witty"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Keywords (comma separated)"
            }
          ]
        },
        "options": {}
      },
      "id": "a64b530b-c3c0-4ac8-b4b6-ba9f7032d096",
      "name": "Topic Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1504,
        -368
      ],
      "webhookId": "fcc0d055-60f1-458f-b29a-7d3b5a1ab6b7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a blog post draft.\nTopic: {{ $json.Topic }}\nAudience: {{ $json['Target audience'] || 'general' }}\nTone: {{ $json.Tone || 'Professional' }}\nKeywords: {{ $json['Keywords (comma separated)'] || '' }}\n\nReturn the structured fields requested by the output parser.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert content writer and SEO editor. Produce a clean, publish-ready first draft. Be concrete, no filler. Honor the requested tone."
        }
      },
      "id": "713b25c4-d7ff-481c-9c86-6ee2bfe294b3",
      "name": "AI Agent: Draft",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1200,
        -368
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "4aed38da-a637-4ca2-89b4-9191762fee03",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -144
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"slug\": \"string\",\n  \"meta_description\": \"string (<=155 chars)\",\n  \"outline\": [\"string\"],\n  \"draft_markdown\": \"string\",\n  \"tags\": [\"string\"]\n}"
      },
      "id": "31a83952-9900-4901-a8e6-19b8e8df78ad",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -144
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $json.output.title }}",
        "propertiesUi": {
          "propertyValues": []
        },
        "options": {}
      },
      "id": "55a8bfc7-b40d-4ff9-b3a2-a7eb88597f17",
      "name": "Notion: Create Draft Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -832,
        -464
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content",
          "mode": "list",
          "cachedResultName": "Content"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "96004aa6-9584-4d6c-bb4e-54eeba78b1a2",
      "name": "Google Sheets: Log Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -832,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Demo 3 — Content Automation\n\n**Flow:** Topic form → LLM writes a structured draft (title, slug, meta, outline, markdown, tags) → push to Notion as a new page + log to Google Sheets.\n\nUseful for content teams that draft at volume.",
        "height": 220,
        "width": 360,
        "color": 5
      },
      "id": "6ffbd98c-4dc2-41a1-b15c-c8ec02100c9d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -608
      ]
    },
    {
      "parameters": {
        "content": "👉 Connect OpenAI, Notion and Google Sheets credentials.\n👉 Replace YOUR_NOTION_DATABASE_ID and YOUR_GOOGLE_SHEET_ID.\n\n⚠️ Use a throwaway DEMO OpenAI key with a hard spending limit. Revoke it after filming the Loom.",
        "height": 200,
        "width": 360,
        "color": 3
      },
      "id": "ba0b3e29-2a8a-48b5-9eab-9ce7c0eb1cde",
      "name": "Sticky Note Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -624
      ]
    }
  ],
  "connections": {
    "Topic Form Trigger": {
      "main": [
        [
          {
            "node": "AI Agent: Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Draft": {
      "main": [
        [
          {
            "node": "Notion: Create Draft Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Log Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Draft",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c802c10acc67c35f036716d36a5687107af21a072c3c4b176b04a3fcd3f47a7b"
  }
}
